*,
::before,
::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #F2F2F2;
}

.main-container {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-index {
    background-color: #ffffff;
}

.main-inner {
    background-color: #ffffff;
}

.button {
    padding: 8px 50px;
    display: inline-block;
    background-color: #756157;
    border-radius: 4px;
    border-color: transparent;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.navigation {
    display: flex;
    margin: 0 auto;
    max-width: 1060px;
}

.navigation-logo {
    margin-right: 30px;
    position: absolute;
}

.navigation-list {
    margin: 0 0 0 168px;
    padding: 0;
    list-style: none;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.navigation-user {
    align-items: center;
    padding: 0;
    width: 300px;
    list-style: none;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.page-header {
    color: #000000;
    background-color: #ffffff;
}

.navigation-link {
    margin: 0;
    display: block;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 20px 16px;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.navigation-user .navigation-link {
    min-width: 20px;
    min-height: 20px;
}

.navigation-user .navigation-link:last-child {
    padding-left: 20px;
}

/*.search {*/
/*    background-image: url("../images/context-icons/search.svg");*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*}*/

/*.favorite {*/
/*    background-image: url("../images/context-icons/heart.svg");*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*}*/

.favorite-numbers {
    font-size: 10px;
    line-height: 10px;
    background-color: #7DB54F;
    border-radius: 50%;
    color: #ffffff;
    margin: 0;
    padding: 5px;
}

.button-link {
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 34px;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}

.page-container {
    display: flex;
}

.welcome-sedona {
    color: #000000;
    background-image: url("../images/background-image.jpg");
    background-size: 100% auto;
    background-color: #ffffff;
    background-repeat: no-repeat;
    text-align: center;
}

.welcome-sedona-image {
    margin: 51px 0 82px;
}

.preview {
    text-align: center;
    padding-top: 69px;
    padding-bottom: 69px;
}

.preview-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.about-sedona-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
}

.about-sedona-item {
    width: 400px;
    height: 385px;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sedona-item-city {
    width: 1200px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
}

.about-sedona-item-bridge {
    width: 1200px;
    display: flex;
    flex-direction: row-reverse;
}

.about-sedona-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    width: 175px;
}

.about-sedona-description {
    width: 230px;
}

.about-sedona-item {
    background-color: rgba(131, 179, 211, 0.12);
}

.about-sedona-item-middle {
    background-color: rgba(131, 179, 211, 0.2);
}

.about-sedona-item:first-child, .about-sedona-item:last-child {
    width: 1200px;
    background-color: #82B3D3;
    color: #ffffff;
}

.after-view {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.advantages {
    margin-bottom: 96px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /*justify-content: center;*/
}

.advantages-item {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advantages-item-icon {
    padding: 0;
    margin: 0;
    text-align: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

.house {
    background-image: url("../images/advantages-icons/house.svg");
}

.burger {
    background-image: url("../images/advantages-icons/food.svg");
}

.suvenir {
    background-image: url("../images/advantages-icons/suvenir.svg");
}

.advantages-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    max-width: 230px;
    text-align: center;
}

.advantages-item-text {
    max-width: 230px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.advantages-item:first-child, .advantages-item:last-child {
    background-color: rgba(131, 179, 211, 0.12);
}

.to-catalog {
    margin: 0 auto 96px;
    text-align: center;
}

.to-catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.to-catalog-text {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 54px;
}

.page-footer {
    color: #000000;
    background-color: #ffffff;
}

.contacts-container {
    width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.subscribe {
    margin: 0;
    padding-top: 96px;
    padding-bottom: 104px;
    color: #ffffff;
    text-align: center;
    background-image: url("../images/background-image-subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.subscribe-text {
    margin-bottom: 54px;
}

.subscribe-form {
    display: flex;
    text-align: center;
    justify-content: center;
}

.subscribe-form-input {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #F2F2F2;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.button-subscribe {
    background-color: #82B3D3;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.contacts-container {
    margin: 40px auto 30px;
    padding: 0;
    display: flex;
    width: 1060px;
    text-align: center;
}

.socials {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
}

.socials-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    list-style: none;
}

.socials-item {
    width: 48px;
    height: 48px;
}

.socials-item-link {
    display: block;
    margin: 0;
    min-width: 48px;
    min-height: 40px;
    padding: 14px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    background-position: center;
}

.vk-logo {
    background-image: url("../images/socials-icons/vk-icon.svg");
    background-repeat: no-repeat;
}

.tg-logo {
    background-image: url("../images/socials-icons/tg-icon.svg");
    background-repeat: no-repeat;
}

.youtube-logo {
    background-image: url("../images/socials-icons/youtube-icon.svg");
    background-repeat: no-repeat;
}

.footer-contacts-phone {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-contacts-email-htmlacademy {
    width: 115px;
    height: 33px;
    background-image: url("../images/context-logo/HTML-Academy-logo.svg");
    background-repeat: no-repeat;
}

/*CSS for catalog.html*/

.filters {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/background-image-subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}

.filters-header-container {
    display: flex;
    flex-direction: column;
    width: 1060px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.filters-title {
    padding: 0;
    margin-top: 35px;
    margin-bottom: 8px;
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs-list {
    margin: 0 0 40px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.breadcrumbs-item {
    min-width: 12px;
    min-height: 12px;
    margin-right: 28px;
}

.breadcrumbs-link {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.home-icon {
    background-image: url("../images/context-icons/home.svg");
    background-repeat: no-repeat;
    background-color: #7DB54F;
    min-width: 12px;
    min-height: 12px;
}

.catalog-filter-container {
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 1060px;
}

.infrastructure {
    border: 0;
    margin: 0 70px 0 0;
    padding: 0;
    width: 150px;
}

.fieldset-title {
    margin-bottom: 32px;
}

.infrastructure-list {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    list-style: none;
}

.infrastructure-item:not(:last-child) {
    margin-bottom: 16px;
}

.type-of-housing {
    border: 0;
    margin: 0 140px 0 0;
    padding: 0;
    width: 150px;
}

.type-of-housing-list {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    list-style: none;
}

.type-of-housing-item:not(:last-child) {
    margin-bottom: 16px;
}

.price {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 290px;
}

.price-title {
    width: 100%;
}

.price-min, .price-max {
    width: 50%;
}

.price-input {
    width: 145px;
}

.price-slider {
    margin-top: auto;
    padding: 0;
    width: 100%;
}

.price-slider input {
    width: 100%;
}

.buttons-container {
    margin-left: auto;
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: flex-end;
}

.search-filter-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 200px;
}

.select-control {
    color: #333333;
}

.price-input {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #F2F2F2;
    border-radius: 4px;
}

.price-min, .price-max, .price-slider {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.button-accept {
    background-color: #82B3D3;
}

.button-cancel {
    background-color: transparent;
}

.select-control {
    font-family: "PT Sans", sans-serif;
    color: #333333;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: #E5E5E5;
    width: 292px;
    height: 50px;
}

.search-filter-container {
    padding: 0;
    display: flex;
    width: 1060px;
    height: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.search-filter-title {
    margin: 0 200px 0 0;
    padding: 0;
}

.select-control {
    margin: 0;
    padding: 0;
    width: 292px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    background-color: #ffffff;
}

.type-of-showing {
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
    list-style: none;
    text-align: center;
}

.type-of-showing-item {
    display: block;
    margin: 0 8px 0 0;
    padding: 16px;
    width: 48px;
    height: 48px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    background-position: center;
}

.type-of-showing-item:last-child {
    margin: 0;
}

.type-of-showing-item-selected {
    border: 2px solid #000000;
}

.search-filter {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1060px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.show-three-on-row {
    background-image: url("../images/icons-for-filter/filter-style-first.svg");
    background-repeat: no-repeat;
}

.show-one-on-row {
    background-image: url("../images/icons-for-filter/filter-style-second.svg");
    background-repeat: no-repeat;
}

.show-on-column {
    background-image: url("../images/icons-for-filter/filter-style-third.svg");
    background-repeat: no-repeat;
}

.product-cards {
    margin-bottom: 80px;
}

.product-list {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, min-content);
}

.product-card {
    border: 1px solid #E6E6E6;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    gap: 16px;
}

.product-card-link {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-decoration: none;
}

.product-card-title {
    text-align: left;
    margin: 0;
    padding: 0;
}

.additional-info {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.additional-buttons {
    margin: 0;
    padding: 0;
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.product-card-button {
    box-sizing: border-box;
    padding: 8px 26px;
}

.button-add-favorite {
    background-color: #82B3D3;
    padding: 8px 20px;
}

.button-favorite-selected {
    background-color: #7DB54F;
    padding: 8px 18px;
}

.rating {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.rating-stars {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 140px;
    display: flex;
    gap: 6px;
}

.star {
    background-image: url("../images/context-icons/star-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 18px;
    min-height: 18px;
}

.rating-text {
    background-color: #E6E6E6;
    border-radius: 4px;
    width: 140px;
    padding: 8px 22px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    width: 1060px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    gap: 8px;
    text-align: center;
}

.pagination-item {
    display: block;
    font-size: 20px;
    line-height: 36px;
    min-width: 60px;
    min-height: 60px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    text-align: center;
    min-width: 60px;
    min-height: 60px;
    padding: 12px;
    color: #ffffff;
    background-color: #82B3D3;
    border-radius: 4px;
    text-decoration: none;
}

.pagination-disabled {
    color: #000000;
    background-color: #F2F2F2;
}

.subscribe-helper {
    color: #000000;
    background-image: none;
}

