*,
::before,
::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.button {
    background-color: #756157;
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.page-header {
    color: #000000;
    background-color: #ffffff;
}

.navigation-list {
    list-style: none;
}

.navigation-user {
    list-style: none;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.welcome-sedona {
    /*width: 1200px;*/
    /*height: 485px;*/
    color: #000000;
    background-image: url("../images/background-image.jpg");
    background-size: 100% auto;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

.welcome-sedona-image {
    /*margin: auto auto;*/
    padding-top: 51px;
    padding-bottom: 81px;
}

.preview {
    text-align: center;
}

.preview-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.about-sedona-list {
    list-style: none;
}

.about-sedona-item {
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.about-sedona-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.about-sedona-item:first-child, .about-sedona-item:last-child {
    background-color: #82B3D3;
    color: #ffffff;
}

.after-view {
    text-align: center;
}

.advantages {
    text-align: center;
}

.advantages-list {
    list-style: none;
}

.advantages-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item:first-child, .advantages-item:last-child {
    background-color: #83B3D3;
}

.house {
    background-image: url("../images/advantages-icons/house.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.suvenir {
    background-image: url("../images/advantages-icons/suvenir.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.to-catalog {
    text-align: center;
}

.to-catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.to-catalog-text {
    font-size: 22px;
    line-height: 26px;
}

.page-footer {
    color: #000000;
    background-color: #ffffff;
}

.subscribe {
    color: #ffffff;
    text-align: center;
    background-image: url("../images/background-image-subscribe.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.subscribe-form-input {
    background-color: #F2F2F2;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.button-subscribe {
    background-color: #82B3D3;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.socials-list {
    list-style: none;
}

.socials-item-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.footer-contacts-phone {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}